.site-footer {
  padding-top: $space3;
  padding-bottom: $space3;
  border-top: 1px solid $border-grey;
  background-color: $bixy-grey-light;
  @include for-size(md-down) {
    padding-top: $space2;
    padding-bottom: $space2;
  }
}
#footer-menus {
  margin-bottom: $space-6;
  @include for-size(md) {
    margin-bottom: $space3;
  }
  .row {
    display: block;
    .col-3 {
      display: inline-block;
      margin-right: $space8;
      width: auto;
      vertical-align: top;
    }
    @include for-size(md-down) {
      margin-bottom: 0;
      .col-3 {
        width: 49%;
        margin-bottom: $space3;
        margin-right: 0;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      a {
        color: $bixy-grey-dark;
        line-height: 2;
        font-size: $font1;
      }
    }
  }
}
#footer-social-links {
  a.social-link {
    margin-right: $space1;
    img {
      width: 19px;
      height: auto;
    }
    i {
      color: #656464;
      opacity: .8;
      transition: all .2s linear;
      font-size: 1.4em;
      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
}
