body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: $proxima;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

html, body {
	margin: 0;
}

@include for-size(lg-down) {
	html {
		font-size: $font-1;
	}
}

@include for-size(phone-only) {
	html, body {
		font-size: 13px;
	}
}
@include for-size(sm) {
	html, body {
	font-size: 13px;
	}
}
@include for-size(m) {
	html, body {
	font-size: 13px;
	}
}
@include for-size(lg) {
	html, body {
	font-size: 14px;
	}
}

.container, #header-content {
	width: 100%;
	padding: 0 $space-1;
	@include for-size(md) {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 $space3;
	}
	@include for-size(lg) {
		max-width: 1100px;
	}
	@include for-size(xl) {
		max-width: 1100px;
	}
	@include for-size(xxl) {
		max-width: 1300px;
	}
}

.section .container {
	padding-top: $space2;
	padding-bottom: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1em;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: 100%;
		position: relative;
		padding: 0 1em;
	}
}

@for $i from 1 through 12 {
	.col-#{$i}-md {
		width: calc((100% / 12) * #{$i});
	}
}

@include for-size(md-down) {
	@for $i from 1 through 12 {
		.col-#{$i}-md-down {
			width: calc((100% / 12) * #{$i});
		}
	}
}

@include for-size(sm-md-down) {
	@for $i from 1 through 12 {
		.col-#{$i}-sm-md-down {
			width: calc((100% / 12) * #{$i});
		}
	}
}

@include for-size(phone-only) {
	@for $i from 1 through 12 {
		.col-#{$i}-sm-down {
			width: calc((100% / 12) * #{$i});
		}
	}
}

@include for-size(sm-md-down) {
	@for $i from 1 through 12 {
		.col-#{$i}-sm-md {
			width: calc((100% / 12) * #{$i});
		}
	}
}

@include for-size(md) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
   font-size: $font1;
  }
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc((100% / 12) * #{$i});
      &.stretch {
        flex-grow: 1;
      }
    }
  }
}
