/* ../../images/NewLanding */
body {
  padding: 0px;
  margin:0px;
  font-size:14px;
  font-weight:400;
  color:#252525;
  background:#fff;
  font-family: 'Open Sans', sans-serif;
}
input, textarea {
  border-radius:0;
  -webkit-appearance:none;
}
ul {
  padding:0;
  margin:0;
}
li{
  list-style:none;
}
h1, h2, h3, h4, p{
  padding:0;
  margin:0;
}
a{
  transition:all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
}
a:hover, a:focus{
  text-decoration:none; outline:0;
}

.header-main{
  background:$bixy-blue;
  position:sticky;
  left:0;
  top:0;
  width:100%;
  z-index:9;
  .logo{
    float:left;
    padding:15px 0;
    height: 5rem;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }
}

.fixedsidemenu{
  position:fixed;
  left:30px;
  top:264px;
  z-index:9;
  li{
    display:block;
    padding:3px 0;
    a{
      background-color:rgba(17,104,156,0.3);
      font-size:13px; color:#ffffff;
      line-height:32px;
      font-weight:400;
      padding:0 15px;
      width:95px;
      text-transform:uppercase;
      display:inline-block;
      border-radius:4px;
      background-repeat:no-repeat;
      background-position:94% -22px;
    }
    &.active a{
      //background-image:url(../../images/NewLanding/sidemenu-ico.png);
      background-color:rgba(17,104,156,1);
      width:115px;
      font-weight:700;
    }
    &.benefits {
      a{
        background-position:94% 9px;
      }
      &.active a{
        background-color:#fff;
        color:#2a3033;
      }
    }
  }
}
.fp-viewing-secondPage .fixedsidemenu li a, .fp-viewing-4thpage .fixedsidemenu li a{
  background-color:rgba(255,255,255,0.2);
}

.btn{
  height:64px;
  background:#11689c;
  padding:0 20px;
  border-radius:4px;
  font-size:14px;
  color:#ffffff;
  font-weight:700;
  text-transform:uppercase;
  line-height:64px;
  width:100%;
  letter-spacing: 2px;
  &:hover, &:focus{
    background:#000;
    color:#fff;
  }
}

#page-header {
  h1 {
    color: $bixy-blue;
    font-size: $font3;
    margin-top: $space-2;
    margin-bottom: $space-2;
    font-weight: 600;
    @include for-size(md) {
      margin-top: $space3;
      margin-bottom: $space4;
    }
  }
}

.section {
  background-color: $bixy-grey-light;
  h2 {
    font-size:60px;
    color:#11689c;
    line-height:64px;
    font-weight:600;
    padding:0 0 28px;
  }
}

.overview-panel, .feature-panel{
  //background:url(../../images/NewLanding/overviewbg.jpg) no-repeat left 100px;
  background-size:100% 100%;
  position:relative;
}
.overviewblock, .benefitsblock, .featureblock, .paricingblock{
  // padding:100px 0 0;
  // position:relative;
  // top:50%;
  // transform:translateY(-50%);
  // -webkit-transform:translateY(-50%);
}
.overviewblock {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: $space1;
    @include for-size(md) {
      padding-bottom: 0;
    }
  }
}

.overview-left{
  width: 100%;
  .btn {
    margin-top: $space2;
    font-weight: 600;
    width: auto;
    padding: 0 $space1;
  }
  @include for-size(md) {
    width:45%;
    padding:0 30px 0 0;
  }
  h3{
    font-size:$font4;
    line-height: 1.5;
    color:#1e2021;
    font-weight:300;
    margin-bottom: $space-2;
  }
  p{
    font-size: $font1;
    font-weight:300;
    color:#434a4f;
    padding:0 0 14px;
  }
}
.overview-right{
  width: 100%;
  padding-top: $space1;
  @include for-size(md) {
    width:55%;
    padding:0 0 0 15px;
    transform: translateY(-11rem);
  }
  @include for-size(lg) {
    width:45%;
  }
}

.overviewtag{
  padding:0 0 34px;
  .adage, .overviewtag span{
    line-height:33px;
    font-size:14px;
    color:#11689c;
    font-weight:700;
    text-transform:uppercase;
    display:inline-block;
    vertical-align:top;
    padding:0 23px;
    border:1px solid #c6d2d9;
    border-radius:5px;
  }
  span{
    background:#f7f9fb;
    font-weight:400;
    color:#89949b;
    margin-left:9px;
  }
  .fullarticle{
    font-size:16px;
    font-weight:300;
    display:inline-block;
    vertical-align:top;
    color:#11689c;
    line-height:22px;
    text-decoration:underline;
    margin:6px 0 0 9px;
  }
}

.overviewtab{
  border-radius:6px;
  .nav-tabs{
    padding:0;
    border:none;
    margin:0;
    position: relative;
    top: 7px;
    z-index: 2;
    li{
      float:left;
      width:50%;
      text-align:center;
      padding:0;
      border:0;
      margin:0;
      position: relative;
      a{
        font-size:$font-1;
        color:#818d94;
        font-weight:700;
        line-height:66px;
        text-transform:uppercase;
        border:none;
        box-shadow:none;
        border-radius:0px;
        margin:0;
        padding:0;
        letter-spacing: 1px;
      }
      &.active {
        a {
          border:none;
          margin:0;
          padding:0;
          background:none;
          color: black;
        }
        &.active {
          background-color: $bixy-grey-light;
          border: 1px solid $border-grey;
          border-bottom: none;
          border-top-right-radius: .75rem;
          &::before {
            content: '';
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 5px);
            border-top-right-radius: .5rem;
            left: 5px;
            top: 5px;
            border: 1px solid $border-grey;
            border-bottom: none;
          }
          &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 6px;
            background-color: $bixy-grey-light;
            border-bottom: 1px solid $border-grey;
            bottom: 0px;
            left: -3px;
          }
        }
        &:first-of-type {
          &.active {
            border-top-left-radius: .75rem;
            border-top-right-radius: .0rem;
            &::before {
              border-top-left-radius: .5rem;
              border-top-right-radius: 0;
            }
            &::after {
              bottom: 0px;
              right: -3px;
              left: auto;
            }
          }
        }
      }
      &:first-child a{
        border-radius:6px 0 0 0;
      }
      &:last-child a{
        border-radius:0 6px 0 0;
      }
    }
  }
  .tab-content {
    padding: $space-5 $space-5 $space1;
    border:1px solid $border-grey;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
    position: relative;
    background-color: $bixy-grey-light;
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      left: 5px;
      top: 5px;
      border:1px solid $border-grey;
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }
    h3{
      font-size:$font3;
      color:#434a4f;
      line-height:26px;
      font-weight:400;
      padding:0 0 20px;
      text-align:center;
      letter-spacing: 1px;
      span{
        color:$bixy-grey;
        font-weight:600;
        display: block;
        margin-top: $space-3;
        font-size: $font1;
      }
    }
  }
  &.signup-active {
    .tab-content {
      border-top-left-radius: .75rem;
      border-top-right-radius: 0rem;
      &::before {
        border-top-left-radius: .5rem;
        border-top-right-radius: 0;
      }
    }
  }

  .form-group{
    margin:0;
    padding:0 0 $space-2;
    label {
      transform: translateY(75%);
      position: relative;
      left: 10px;
      font-size: $font-1;
      font-weight: 200;
      background-color: white;
      padding-left: .5rem;
      padding-right: .5rem;
    }
    .form-control{
      line-height:24px;
      background:#ffffff;
      font-size:16px;
      color:#818d94;
      font-weight:300;
      width:100%;
      padding:$space-5 $space-5;
      border:1px solid #c6d2d9;
      box-shadow:none;
      border-radius:1px;
    }
  }
  form {
    margin-bottom: 0;
    padding: 0 $space-6;
    @include for-size(md) {
      padding: 0 $space-1;
    }
  }
}

.overviewtab .form-group .form-control:placeholder {
  color:#818d94;
  opacity:1;
}

.overviewtab .form-checkbox{
  padding:0 0 15px;
}

.form-checkbox input[type="checkbox"]{
  opacity:0;
  position:absolute;
}
.form-checkbox .customcheckbox{
  font-size: $font-1;
  line-height:20px;
  font-weight:300;
  color:#818d94;
  padding:0 0 0 30px;
  display:inline-block;
  position:relative;
  margin:0;
  cursor:pointer;
  vertical-align:top;
}
.form-checkbox input[type="checkbox"] + .customcheckbox:before{
  content:"";
  width:18px;
  height:17px;
  display:block;
  position:absolute;
  left:0;
  top:2px;
  border: 1px solid $border-grey;
  //background:url(../../images/NewLanding/checkbox-ico.png) no-repeat left top;
}
.form-checkbox input[type="checkbox"]:checked + .customcheckbox:before{
  background-image: 'images/check.png';
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.loginblock .forgotpass, .login-block .form-checkbox .forgotpass{
  float:right;
  font-size:$font-1;
  color:#11689c;
  line-height:20px;
  float:right;
  text-decoration:underline;
  font-weight:300;
  padding:0;
}
.overviewtab .form-group{
  padding-bottom:0;
}
.tab-content .form-checkbox{
  padding:$space-4 0;
}
.signupblock .form-checkbox span, .login-block .form-checkbox span{
  font-size:16px;
  color:#818d94;
  line-height:20px;
  font-weight:300;
  padding:0;
}
.signupblock .form-checkbox span a, .login-block .form-checkbox span a{
  color:#11689c;
  text-decoration:underline;
}
.form-description{
  padding:$space-3 0 0;
  @include for-size(md) {
    padding:65px 0 0;
  }
}
.overviewtab .tab-content h3{
  padding-bottom: $space-3;
}
.overviewtab .tab-content .for-business-graphic {
  text-align: center;
  margin-bottom: $space-3;
}

.benefits-panel, .paricing-panel{
  //background:url(../../images/NewLanding/benefitbg.jpg) no-repeat left 100px #106394;
  background-size:100% 100%;
}
.section .benefitsblock h2{color:#fff; padding:0 0 65px}
.benefitlist li{padding:0 0 0 112px; min-height:91px; margin:0 0 48px;}
.benefitlist li h4{font-size:40px; line-height:44px; font-weight:300; color:#ffffff; text-transform:uppercase; padding:15px 0 0;}
.benefitlist li p{font-size:23px; line-height:36px; font-weight:300; color:#ffffff; padding:9px 0 0;}
// .benefitlist1 li:nth-child(1){background:url(../../images/NewLanding/benefit-ico1.png) no-repeat left top;}
// .benefitlist1 li:nth-child(2){background:url(../../images/NewLanding/benefit-ico2.png) no-repeat left top;}
// .benefitlist1 li:nth-child(3){background:url(../../images/NewLanding/benefit-ico3.png) no-repeat left top;}
// .benefitlist2 li:nth-child(1){background:url(../../images/NewLanding/benefit-ico4.png) no-repeat left top;}
// .benefitlist2 li:nth-child(2){background:url(../../images/NewLanding/benefit-ico5.png) no-repeat left top;}
// .benefitlist2 li:nth-child(3){background:url(../../images/NewLanding/benefit-ico6.png) no-repeat left top;}
.downloadmaterial{background:rgba(247,249,251,0.03); border:1px solid rgba(255,255,255,0.1); border-radius:4px; padding:25px 30px 26px;}
.downloadmaterial h3{
  font-size:18px;
  color:#7cbee5;
  font-weight:600;
  line-height:50px;
  padding:0 0 0 82px;
  //background:url(../../images/NewLanding/download-ico.png) no-repeat left top; float:left;
}
.downloadmaterial .downloadmateriallist{float:left; padding:14px 0 0;}
.downloadmaterial .downloadmateriallist li{float:left; padding-left:75px;}
.downloadmateriallist li a{font-size:18px; color:#ffffff; line-height:23px; text-decoration:underline; font-weight:300; padding:0;}

.featureblock h2{padding:0 0 25px;}
.featureboxtext{padding:0 0 0 110px;}
.featurebox{min-height:250px; border:1px solid #c3cdd5; border-radius:6px; margin:25px 0; padding:43px 35px;}
.featureboxtext h3{font-size:36px; color:#00679b; line-height:40px; font-weight:600; padding:0 0 11px;}
.featureboxtext p{font-size:24px; line-height:36px; color:#434a4f; font-weight:300; padding:0;}
// .coupons .featureboxtext{background:url(../../images/NewLanding/coupons-ico.png) no-repeat left top;}
// .loyalty .featureboxtext{background:url(../../images/NewLanding/loyalty-ico.png) no-repeat left top;}
// .royalty .featureboxtext{background:url(../../images/NewLanding/royalty-ico.png) no-repeat left top;}
// .adtargeting .featureboxtext{background:url(../../images/NewLanding/adtargeting-ico.png) no-repeat left top;}

.paricingblock h2{color:#fff;}
.paricingblock h2 span{font-size:40px; color:#7cbee5; font-weight:300; display:block; padding:5px 0 0;}
.paricingbox{background:#f7f9fb; border-radius:6px; padding:0px;}
.paricingbox .col-lg-6{padding:45px 30px 30px 60px;}
.paricingbox .col-lg-6:nth-child(2){background:#fff; border-radius:0 6px 6px 0;}
.paricingbox h3{font-size:46px; line-height:50px; color:#2a3033; font-weight:300; padding:0 0 35px;}
.paricingboxlist ul li{padding:0 0 20px 70px; min-height:77px;}
.freetierlist h4{font-size:26px; color:#00679b; line-height:30px; font-weight:600; padding:0 0 2px;}
.paricingboxlist ul li p{font-size:20px; line-height:36px; color:#434a4f; font-weight:300; padding:0; }
.payasyoulist li h4{font-size:24px; color:#00679b; line-height:30px; font-weight:300; padding:0 0 2px;}
.payasyoulist li h4 strong{font-weight:600;}
.paricingboxlist ul li.coupons{
  //background:url(../../images/NewLanding/coupons-ico.png) no-repeat left 10px;
  background-size:40px auto;
}
.paricingboxlist ul li.loyalty{
  //background:url(../../images/NewLanding/loyalty-ico.png) no-repeat left 10px;
  background-size:47px auto;
}
// .paricingboxlist ul li.boost{background:url(../../images/NewLanding/boost-ico.png) no-repeat left 7px;}
// .paricingboxlist ul li.onlineads{background:url(../../images/NewLanding/onlineads-ico.png) no-repeat 5px 5px;}
.downloadpdf{padding:40px 0 0;}
.downloadpdfhead {position:relative;}
.paricingblock .downloadpdfhead h2 {padding-right:265px;}
.downloadpdfhead .downloadpdf {position:absolute; right:0; top:0px;}
.downloadpdf a{
  //background:url(../../images/NewLanding/download-ico.png) no-repeat left top;
  font-size:18px;
  line-height:50px;
  color:#fff;
  font-weight:300;
  padding:0 0 0 95px;
  text-decoration:underline; display:inline-block;
}

.innerbody .header-main{position:relative;}
.contact-panel{
  //background:url(../../images/NewLanding/contactbg.jpg) no-repeat left top;
  background-size:100% 100%;
  padding:148px 0 224px
}
.contact-block h2, .login-block h2{font-size:60px; color:#11689c; line-height:62px; font-weight:600; padding:0 0 40px;}
.login-block h2 span{display:block; font-size:26px; line-height:30px; font-weight:300; color:#434a4f; padding:8px 0 0;}
.login-block h2 span strong{color:#11689c; font-weight:600;}
.signup-panel .login-block h2{padding-bottom:30px;}
.contact-form .form-group{margin:0; padding-bottom:15px;}
.contact-form .form-group label{font-size:16px; color:#5e8298; line-height:20px; font-weight:400; padding:0 0 5px; margin:0;}
.contact-form .form-group .form-control{
  height:61px;
  background:#fff;
  border:1px solid #c6d2d9;
  border-radius:4px;
  font-size:$font-1;
  color:#818d94;
  line-height:20px;
  font-weight:400;
  padding:19px 20px 20px;
  width:100%;
  box-shadow:none;
}
.contact-form .form-btn .btn{width:360px; float:right; margin-top:25px;}
.contact-form .form-group textarea.form-control{height:170px;}
.forgotpasswordpopup .contact-form .form-group textarea.form-control{height:130px;}
.forgotpasswordpopup .contact-form .form-btn .btn {height:44px; line-height:44px;}
.login-panel{
  //background:url(../../images/NewLanding/contactbg.jpg) no-repeat left top;
  background-size:100% 100%;
  padding:134px 0 133px
}
.login-block {
  .col-lg-6:nth-child(1){
    padding-top:90px;
  }
  .contact-form{
    max-width:420px;
    label{
      font-size:16px;
      color:#818d94;
      line-height:20px;
      font-weight:300;
    }
  }
  .form-checkbox{
    padding:5px 0 18px;
  }
}

.login-block .contact-form .form-btn .btn{margin-top:0; width:100%;}
.loginimg{padding-left:65px;}
.signup-panel{
  //background:url(../../images/NewLanding/contactbg.jpg) no-repeat left top;
  background-size:100% 100%;
  padding:94px 0 120px
}
.signup-panel .login-block .col-lg-6:nth-child(1){padding-top:0;}
.signup-panel .login-block .col-lg-6:nth-child(2){padding-top:40px;}
.validateField { color : red;}

.overflowpopup .modal-content{box-shadow:none; border:1px solid #c6d2d9; border-radius:6px; background:#f7f9fb;}
.overflowpopup h4.modal-title{font-size:22px; color:#11689c; font-weight:600; padding:0; line-height:26px;}
.overflowpopup .modal-header{border-bottom:1px solid #c6d2d9;}
.overflowpopup button.close{font-size:26px; color:#11689c; opacity:1; font-weight:300;}
.forgotpasswordpopup .contact-form .form-btn{text-align:right;}
.forgotpasswordpopup .contact-form .form-btn .btn{float:none; display:inline-block; vertical-align:top; width:auto; padding:0 50px; margin-left:15px;}
.forgotpasswordpopup .contact-form .form-btn{text-align:right;}

.Resetpasswordpopup .contact-form .form-btn{text-align:right;}
.Resetpasswordpopup .contact-form .form-btn .btn{float:none; display:inline-block; vertical-align:top; width:auto; padding:0 50px; margin-left:15px;}
.Resetpasswordpopup .contact-form .form-btn{text-align:right;}


.tearmcondition-text h3{font-size:24px; line-height:28px; color:#00679b; padding:7px 0 15px; font-weight:600;}
.tearmcondition-text p{font-size:16px; color:#434a4f; line-height:28px; font-weight:300; padding:0 0 25px; text-align:justify;}
.tearmcondition-text p a{color:#00679b;}
.tearmcondition-text .bullet-text{padding:0 0 20px;}
.tearmcondition-text .bullet-text li{font-size:16px; color:#434a4f; line-height:22px; font-weight:300; padding:0 0 10px 25px; position:relative;}
.tearmcondition-text .bullet-text li a{color:#00679b;}
.tearmcondition-text .bullet-text li:before{content:""; width:10px; height:10px; border-radius:100%; border:2px solid #00679b; position:absolute; left:0; top:8px;}
.tearmcondition-text .bullet-text.tearmcondition-list li{width:50%; float:left;}

/* To open Popup */
.sign-up-form .submit-row .terms-box {float: left;width: 100px;font: 12px/15px "OpenSansRegular", Arial, Helvetica, sans-serif;}
.sign-up-form .submit-row .terms-box label {white-space: nowrap;}
.sign-up-form .submit-row label {float: left;color: #606060;margin: -2px 0 0;}
.sign-up-form .submit-row .terms {color: #105987;white-space: nowrap;}
.button.disabled:hover {cursor: not-allowed;}

.new-account-welcome {margin-top: 15px;}
.new-account-welcome h2 {margin-bottom: 0px;color:forestgreen;}
.new-account-welcome p {margin: 0px;color:forestgreen;}
.new-account-error,
.new-account-progress {background: #f5f5f5;padding: 15px 0px;-webkit-box-shadow: inset 0px 0px 5px #3b3b3b;-moz-box-shadow: inset 0px 0px 5px #3b3b3b;box-shadow: inset 0px 0px 5px #3b3b3b;}

.overview-send-email-txt {border: 1px solid #ccc;background: -webkit-linear-gradient(top, #fafafa, #dddddd);padding: 5px 20px;border-radius: 3px;color: #151414;font-size: .9em;line-height: 1.3em;}
.overview-send-email-btn {border: 1px solid #ccc;background: -webkit-linear-gradient(top, #fafafa, #dddddd);padding: 5px 20px;border-radius: 3px;color: #151414;font-size: .9em;font-weight: bold;line-height: 1.3em;}
.overview-email-section {margin-top:10px;}
.forgotpasswordpopup .modal-dialog {width:750px;}
.modal.in .modal-dialog, .modal.fade .modal-dialog{    transform:translateY(-50%); -webkit-transform:translateY(-50%); top:50%;}
