$proxima: "proxima-nova",sans-serif;

@mixin for-size($range) {
  $sm: 480px;
  $sm-md: 680px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == sm-md {
    @media (min-width: $sm-md) { @content; }
  } @else if $range == sm-md-down {
    @media (max-width: #{$sm-md - 1}) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

$fontMultiplier: 1.2;
// Text Sizes https://www.modularscale.com/?15.59&px&1.414
$font-3: calc(.354rem * #{$fontMultiplier}); //5.5px
$font-2: calc(.5rem * #{$fontMultiplier}); //7.8px
$font-1: calc(.707rem * #{$fontMultiplier}); //11px
$font1: calc(1.04rem * #{$fontMultiplier}); //15.59px BASE SIZE
$font2: calc(1.37rem * #{$fontMultiplier}); //22px
$font3: calc(1.704rem * #{$fontMultiplier}); //31px
$font4: calc(1.999rem * #{$fontMultiplier}); //44px
$font5: calc(2.827rem * #{$fontMultiplier}); //62.3px
$font6: calc(3.998rem * #{$fontMultiplier}); //88.1px
$font7: calc(5.653rem * #{$fontMultiplier}); //124.6px
$font8: calc(7.993rem * #{$fontMultiplier}); //176.1px
$font9: calc(11.302rem * #{$fontMultiplier});

// Space Sizes https://www.modularscale.com/?15.59&px&1.414
$multiple: 6;
$space-6: calc(.16rem * #{$multiple}); //3.9px
$space-5: calc(.24rem * #{$multiple}); //5.5px
$space-4: calc(.32rem * #{$multiple}); //7.8px
$space-3: calc(.4rem * #{$multiple}); //11px
$space-2: calc(.48rem * #{$multiple}); //15.59px
$space-1: calc(.56rem * #{$multiple}); //22px
$space1: calc(.64rem * #{$multiple}); //31px GRID GAP
$space2: calc(.72rem * #{$multiple}); //44px
$space3: calc(.80rem * #{$multiple}); //62.3px MEDIUM SPACE
$space4: calc(.96rem * #{$multiple}); //88.1px
$space5: calc(1.04rem * #{$multiple}); //124.6px LARGE SPACE + HEIGHT OF IMAGE (project landing)
$space6: calc(1.12rem * #{$multiple}); //176.1px
$space7: calc(1.20rem * #{$multiple}); //249.139px HEIGHT OF IMAGE (gallery)
$space8: calc(1.60rem * #{$multiple}); //352.282px
$space9: calc(2rem * #{$multiple}); //498.127px

$bixy-blue: #00679a;
$bixy-grey-light: #f7f9fb;
$bixy-grey-dark: #6e6e6e;
$bixy-grey: #979797;
$border-grey: #BAC6D0;
